/* Here is where the variables start */

$richred: #cd0c1e;

$red: #f44336;
$green: #4CAF50;
$blue: #008CBA;
$light-grey: #e7e7e7;

// $headingsFont: 'Alfa Slab One', cursive;
$headingsFont: 'Shippori Mincho B1', serif;
$readingFont: 'Montserrat', sans-serif;